/* Global Styles **************************************************************************/
@font-face {
    font-family: LakeshoreDrive;
    src: url(web-fonts/LAKESHOR-webfont.woff) format('woff');
}
@font-face {
    font-family: CherrySwash;
    src: url('web-fonts/cherryswash-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body, html {
    width: 100%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif; 
    font-size: 16px;
    color: #12123D;
}
body {
    background: linear-gradient(#880044, #E01A4F, #93E1D8);
    background-attachment: fixed;
    position: static;
}
a {
    color: #880044;
}

/* Header Styles *************************************************************************/
header {
    height: 12em;
    background-image: url(../images/header-bkgd.png);
    background-size: 100% 100%;
}
h1 {
    font-family: LakeshoreDrive;
    font-size: 6rem;
    color: #880044;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: -5px;
}

/* Button Styles *************************************************************************/
button, #topic-submit, #clear-faves, .save-link {
    padding: 5px 7px;
    border-radius: 7px;
    margin: 10px 7px 10px 0;
    font-size: 1em;
}
button, #topic-submit, .save-link {
    border: 2px solid #880044;
}
#clear-faves {
    border: 2px solid #FFE987;
    display: block;
    margin: 0 auto;
}
.button-box button, #topic-submit, #clear-faves {
    background: #93E1D8;
}
.fave-button, .save-link {
    background: #E01A4F;
    float: right;
}
.save-link {
    text-decoration: none;
    display: block;
}

/* Body Styles ***************************************************************************/
.container {
    width: 80%;
    margin: auto;
}
h2{
    font-size: 2em;
    line-height: 2em;
    text-align: center;
}
h2.fave-title {
    line-height: 1em;
}
h2, h3, #more-button{
    font-family: CherrySwash;
    color: #12123D;
}
h3, #more-button {
    font-size: 1.5em;
}
h3 {
    line-height: 1.5em;
}
.gif-box {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
.gif-div, #more-button {
    max-width: 300px;
    height: auto;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}
.gif {
    max-width: 100%;
}
.gif-div, .button-box, .form-box, #more-button {
    background: #FFE987;
}
#more-button {
    border: none;
}
/* Clearfix: */
.gif-div:after {
    content: "";
    display: table;
    clear: both;
}

/* ButtonBox and FormBox Styles ************************************************************/
.button-box, .form-box {
    display: inline-block;
    margin: 10px auto;
    padding: 15px 10px;;
    border-radius: 10px;
    text-align: center;
}
.form-box {
    margin-left: 20px;
}
.centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    font-size: 1.2em;
    color: #12123D;
}
#topic-input {
    margin: 15px 0 10px 0;
    padding: 3px 5px;
    border: 2px solid #880044;
    border-radius: 7px;
    background: #93E1D8;
    font-size: 1.2em;
}

/* FaveBox Styles **************************************************************************/
.fave-box {
    float: right;
    width: 20%;
    background: #880044;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.fave-box .gif-div {
    margin: 20px 0;
}
.fave-title {
    color: #FFE987;
    font-size: 1.5em;
}
.fave-box h3 {
    line-height: 1em;
    font-size: 1em;
}
.fave-box .save-link {
    margin: 0;
}
